@font-face {
    font-family: "Roboto";
    src:url("../fonts/Roboto-Regular.ttf");
}
body {
  font-family: Roboto;
}
#header {
	width: 100%;
  height: 75;
	display: inline-block;
	position: relative;
	background:#d50000;
}
#os_logo_pub {
width:200px;
margin:20px 0 0 20px;
}
#main_cont {
  display: inline-block;
  width: 100%;
  text-align:center;
  position: relative;
}
#cruds_cont {
  display: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#status_msg {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin: 20 0 0 0;
}
#main_header {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #757575;
  margin: 20 0 10 0;
}
.add_user_submit, .toggle_add_user_form {
  margin: 10 0 0 0;
  background:#d50000;
  border-radius:4px;
  font-size:18px;
  color:#fff;
  text-align:center;
  cursor:pointer;
  line-height:30px;
  vertical-align:middle;
}
.input_title {
  display: inline-block;
  font-size:18px;
  color: #757575;
  text-align: left;
  width: 100%;
}
.input_cont {
  display: inline-block;
  width: 20%;
  margin: 0 40% 0 40%;
}
input {
  margin: 0 0 10 0;
  border-radius: 4px;
  font-size: 20px;
}
#users_cont {
  display: inline-block;
  width:100%;
  margin: 40 0 0 0;
}
.user_cont,.user_cont_header,.user_name,.user_age,.user_email,.user_phone {
  display: inline-block;
  text-align: center;
  color: #757575;
}
.user_cont_header {
  width: 60%;
  font-weight:bold;
}
.user_cont {
  width: 60%;
}
.user_name {
  width: 25%;
}
.user_age {
  width: 15%;
}
.user_email {
  width: 30%;
}
.user_phone {
  width: 25%;
}
#front_panel {
  position:fixed;
  display: inline-block;
  top: 20%;
  margin: auto;
  left: 35%;
  width:30%;
  padding: 20 0 20 0;
  background: #e0e0e0;
  color: #fff;
  border: 1px solid #9b0000;
  display: none;
}
#panel_title {
  text-align: center;
  font-size: 22px;
  color: #424242;
  font-weight: bold;
  border-radius: 2px;
}
#yes_btn, #no_btn {
  cursor: pointer;
  display: inline-block;
  width: 100;
  background: #d50000;
  color: #fff;
  margin: 10 auto;
  margin-left: 10;
  border-radius: 2px;
  padding: 2;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #d50000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  vertical-align: middle
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d50000 transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}